.resultados {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #A22EA9;

}

.butoes {
    display: flex;
    justify-content: center;

}

.butoes > button{
    margin-right: 10px;
    width: 100px;
    margin-bottom: 5px;
}